body {
  background-color: cadetblue;
}

h1 {
  font-size: 220%;
  text-align: center;
  font-family: Arial, sans-serif;
}

.list {
  background-color: darkturquoise;
  border: 10px ridge cornflowerblue;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
  font-size: 125%;
  text-align: center;
  font-family: Arial, sans-serif;
}

table,
th,
td {
  width: 100%;
  background-color: darkturquoise;
  border: 6px ridge cornflowerblue;
  border-collapse: collapse;
  padding: 1px;
  margin: 1px;
}

.quote {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
  font-size: 115%;
  font-family: Arial, sans-serif;
}

.picture {
  border: 20px ridge cornflowerblue;
  padding: 1px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.manuel-image {
  width: 400px;
  height: 200px;
  border: 20px ridge cornflowerblue;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
